# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env

# Archivos de llave (NUNCA subir llaves secretas)
secret.key
*.key

# Archivos cifrados generados
*.enc
*.dec.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
